<ion-view id="login-screen" >
	<ion-content id="login-screen" align="center" style="padding-top: 30%">

	   <button class="button button-stable" style="width:80%;padding-top: 20px;padding-bottom: 20px" ng-click="searchagent()">
		 <i class = "icon icon ion-radio-waves "></i> Find Agent
		</button><br><br>

		<button class="button button-stable" style="width:80%;padding-top: 20px;padding-bottom: 20px" ng-click="logout()">
		 <i class = "icon icon ion-reply "></i> Logout
		</button>
		<!-- <button class="button button-assertive">
		  Report Problem
		</button> -->
	</ion-content>
</ion-view>