
<div class="bar bar-header bar-assertive">
		 <!--  <h1 class="title"></h1> -->
		 <button class="button button-small button-light" style="background: none;color:white" ng-click="goHome()">
		  Back
		</button>
		</div>
<ion-view id="login-screen" >
	<ion-content id="login-screen" class="has-header">
		<!-- <p>{{lat}}</p>
		<p>{{long}}</p> -->



		 <div id="map" data-tap-disabled="true" style="height:230px"></div>
		 <ion-slides  options="options" slider="data.slider" style="height:300px">
		    <ion-slide-page ng-repeat="x in agentlocations" align="center" style="background:white">

		      <p>{{calculateDistance(lat,long,x.latitude,x.longitude)}} km away</p>
		      <h3>{{x.firstname}} {{x.lastname}}</h3>
		      <p>{{x.contact}}</p><br>
		      <button class="button button-small button-assertive" ng-click="sendmessage({{x.contact}})">
				  Text Now
			  </button>
			  <!-- <button class="button button-small button-assertive" ng-click="selected = 'ok'" ng-click="toggle()" value="Toggle" >
				  Check on Google map
			  </button> -->
		     <!--  <h1>{{x.latitude}}</h1>
		      <h1>{{x.longitude}}</h1>
		      <h1>{{calculateDistance(lat,long,x.latitude,x.longitude)}}km</h1> -->
		     
		    </ion-slide-page>
	    </ion-slides>
	    <div align="center">
	    	<label>Swipe Left or Right</label>
	    </div>
	</ion-content>

</ion-view>

