<ion-view id="login-screen" >
	<ion-content id="login-screen">
		<div class="list list-inset">
		  <label class="item item-input">
		    <input type="text" placeholder="Username" ng-model="data.username">
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="data.password">
		  </label>
		</div>
		<button class="button button-block button-assertive" ng-click="login()">
		  Login
		</button>
		<button class="button button-small button-stable" ng-click="goUserRegisterPage()">
		  Register as User
		</button>
		<button class="button button-small button-stable" ng-click="goAgentRegisterPage()">
		  Register as Agent
		</button>
	</ion-content>
</ion-view>