
<ion-view id="registeragent-screen" style="background:#d90429" align="center">
	<div class="list list-inset" style="background:#d90429">
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="text" placeholder="First Name" ng-model="data.firstname">
		  </label>
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="text" placeholder="Last Name" ng-model="data.lastname">
		  </label>
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="number" placeholder="Contact Number" ng-model="data.contact">
		  </label>
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="text" placeholder="Username" ng-model="data.username">
		  </label>
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="password" placeholder="Password" ng-model="data.password">
		  </label>
		  <label class="item item-input" style="margin-top: 5px">
		    <input type="password" placeholder="Retype Password" ng-model="data.retypepassword">
		  </label>
		   <label class="item item-input" style="margin-top: 5px">
		    <input type="text" placeholder="Code" ng-model="data.code">
		  </label>
	</div>

	<button style="background:#d90429;border-radius: 3px;width: 80%;padding:10px;color:white;border:1px solid white" ng-click="registeragent()">Register as Agent</button>
</ion-view>